name: Deploy Pages (artifact)

on:
  push:
    branches: [ main ]

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs

  deploy:
    needs: deploy-pages
    runs-on: ubuntu-latest
    permissions:
      pages: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
